#chartContainer {
    text-align: center;
}

.pieChart {
    width: 30%;
    display: inline-block;
}

.userBanderole {
    width: 100%;
}

.banderoleText {
    font-size: xx-large;
    text-align: left;
    display: inline-block;
    width: 28%;
    vertical-align: 35px;
}