/*---------------- Search Box */

#FSearchBox ***REMOVED***
    float: left;
***REMOVED***

#MSearchBox ***REMOVED***
    white-space : nowrap;
    position: absolute;
    float: none;
    display: inline;
    margin-top: 8px;
    right: 0px;
    width: 170px;
    z-index: 102;
    background-color: white;
***REMOVED***

#MSearchBox .left
***REMOVED***
    display:block;
    position:absolute;
    left:10px;
    width:20px;
    height:19px;
    background:url('search_l.png') no-repeat;
    background-position:right;
***REMOVED***

#MSearchSelect ***REMOVED***
    display:block;
    position:absolute;
    width:20px;
    height:19px;
***REMOVED***

.left #MSearchSelect ***REMOVED***
    left:4px;
***REMOVED***

.right #MSearchSelect ***REMOVED***
    right:5px;
***REMOVED***

#MSearchField ***REMOVED***
    display:block;
    position:absolute;
    height:19px;
    background:url('search_m.png') repeat-x;
    border:none;
    width:111px;
    margin-left:20px;
    padding-left:4px;
    color: #909090;
    outline: none;
    font: 9pt Arial, Verdana, sans-serif;
***REMOVED***

#FSearchBox #MSearchField ***REMOVED***
    margin-left:15px;
***REMOVED***

#MSearchBox .right ***REMOVED***
    display:block;
    position:absolute;
    right:10px;
    top:0px;
    width:20px;
    height:19px;
    background:url('search_r.png') no-repeat;
    background-position:left;
***REMOVED***

#MSearchClose ***REMOVED***
    display: none;
    position: absolute;
    top: 4px;
    background : none;
    border: none;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px;
    outline: none;
***REMOVED***

.left #MSearchClose ***REMOVED***
    left: 6px;
***REMOVED***

.right #MSearchClose ***REMOVED***
    right: 2px;
***REMOVED***

.MSearchBoxActive #MSearchField ***REMOVED***
    color: #000000;
***REMOVED***

/*---------------- Search filter selection */

#MSearchSelectWindow ***REMOVED***
    display: none;
    position: absolute;
    left: 0; top: 0;
    border: 1px solid #90A5CE;
    background-color: #F9FAFC;
    z-index: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
***REMOVED***

.SelectItem ***REMOVED***
    font: 8pt Arial, Verdana, sans-serif;
    padding-left:  2px;
    padding-right: 12px;
    border: 0px;
***REMOVED***

span.SelectionMark ***REMOVED***
    margin-right: 4px;
    font-family: monospace;
    outline-style: none;
    text-decoration: none;
***REMOVED***

a.SelectItem ***REMOVED***
    display: block;
    outline-style: none;
    color: #000000; 
    text-decoration: none;
    padding-left:   6px;
    padding-right: 12px;
***REMOVED***

a.SelectItem:focus,
a.SelectItem:active ***REMOVED***
    color: #000000; 
    outline-style: none;
    text-decoration: none;
***REMOVED***

a.SelectItem:hover ***REMOVED***
    color: #FFFFFF;
    background-color: #3D578C;
    outline-style: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
***REMOVED***

/*---------------- Search results window */

iframe#MSearchResults ***REMOVED***
    width: 60ex;
    height: 15em;
***REMOVED***

#MSearchResultsWindow ***REMOVED***
    display: none;
    position: absolute;
    left: 0; top: 0;
    border: 1px solid #000;
    background-color: #EEF1F7;
***REMOVED***

/* ----------------------------------- */


#SRIndex ***REMOVED***
    clear:both; 
    padding-bottom: 15px;
***REMOVED***

.SREntry ***REMOVED***
    font-size: 10pt;
    padding-left: 1ex;
***REMOVED***

.SRPage .SREntry ***REMOVED***
    font-size: 8pt;
    padding: 1px 5px;
***REMOVED***

body.SRPage ***REMOVED***
    margin: 5px 2px;
***REMOVED***

.SRChildren ***REMOVED***
    padding-left: 3ex; padding-bottom: .5em 
***REMOVED***

.SRPage .SRChildren ***REMOVED***
    display: none;
***REMOVED***

.SRSymbol ***REMOVED***
    font-weight: bold; 
    color: #425E97;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
***REMOVED***

a.SRScope ***REMOVED***
    display: block;
    color: #425E97; 
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
***REMOVED***

a.SRSymbol:focus, a.SRSymbol:active,
a.SRScope:focus, a.SRScope:active ***REMOVED***
    text-decoration: underline;
***REMOVED***

span.SRScope ***REMOVED***
    padding-left: 4px;
***REMOVED***

.SRPage .SRStatus ***REMOVED***
    padding: 2px 5px;
    font-size: 8pt;
    font-style: italic;
***REMOVED***

.SRResult ***REMOVED***
    display: none;
***REMOVED***

DIV.searchresults ***REMOVED***
    margin-left: 10px;
    margin-right: 10px;
***REMOVED***

/*---------------- External search page results */

.searchresult ***REMOVED***
    background-color: #F0F3F8;
***REMOVED***

.pages b ***REMOVED***
   color: white;
   padding: 5px 5px 3px 5px;
   background-image: url("../tab_a.png");
   background-repeat: repeat-x;
   text-shadow: 0 1px 1px #000000;
***REMOVED***

.pages ***REMOVED***
    line-height: 17px;
    margin-left: 4px;
    text-decoration: none;
***REMOVED***

.hl ***REMOVED***
    font-weight: bold;
***REMOVED***

#searchresults ***REMOVED***
    margin-bottom: 20px;
***REMOVED***

.searchpages ***REMOVED***
    margin-top: 10px;
***REMOVED***

