<launch>
  <group>
    <node pkg="irecheck" name="dynamicoListener" type="dynamicoListener.py"/>
    <node pkg="irecheck" name="irecheckBrain" type="irecheckBrain.py"/>
    <node pkg="irecheck" name="irecheckWorld" type="irecheckWorld.py"/>
    <node pkg="irecheck" name="dispatcher" type="dispatcher.py"/>
    <node pkg="irecheck" name="qtdriver" type="qtDriver.py"/>
  </group>

  <group>
    <node pkg="irecheck" name="fakeMultimodalAnalyzer" type="fakeMultimodalAnalyzer.py" output="screen" launch-prefix="gnome-terminal"/>
  </group>
</launch>
