.tabs, .tabs2, .tabs3 ***REMOVED***
    background-image: url('tab_b.png');
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
***REMOVED***

.tabs2 ***REMOVED***
    font-size: 10px;
***REMOVED***
.tabs3 ***REMOVED***
    font-size: 9px;
***REMOVED***

.tablist ***REMOVED***
    margin: 0;
    padding: 0;
    display: table;
***REMOVED***

.tablist li ***REMOVED***
    float: left;
    display: table-cell;
    background-image: url('tab_b.png');
    line-height: 36px;
    list-style: none;
***REMOVED***

.tablist a ***REMOVED***
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('tab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
***REMOVED***

.tabs3 .tablist a ***REMOVED***
    padding: 0 10px;
***REMOVED***

.tablist a:hover ***REMOVED***
    background-image: url('tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
***REMOVED***

.tablist li.current a ***REMOVED***
    background-image: url('tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
***REMOVED***
